@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans' , sans-serif;
}

body{
    display : flex;
    justify-content: center;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url(../FEE/sports-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 50px;
    width: 300px;
    box-shadow: 0px 0px 20px 10px #fff;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    color:#fff;
    font-weight: bold;
}

h1{
    margin-bottom: 40px;
    color:#fff;
}

input{
    border: none;
    border-bottom: 1px solid #fff;
    width: 50%;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    text-align: centre;
    font-size: 25px; 
    color:black;
    font-weight: bold;
}

button{
    width: 100%;
    height: 35px;
    margin-top: 25px;
    border-radius: 20px;
    border: none;
    background-color:#0044ff;
    color: #fff;
    font-size: 22px;
}

#result{
    margin-top: 20px;
    font-size: 25px;
}


/*CSS here*/
